<header>
  <nav>
    <section id="user">
    <% if current_user %>
        <a href="#login" id="loginLink" class="greyButton hidden"><%=t :login %></a>
        <a href="#logout" id="logoutLink" class="greyButton"><%=t :logout %></a>
        <a href="#signup" id="signupLink" class="greyButton hidden"><%=t :signup %></a>
    <% else %>
        <a href="#login" id="loginLink" class="greyButton"><%=t :login %></a>
        <a href="#logout" id="logoutLink" class="greyButton hidden"><%=t :logout %></a>
        <a href="#signup" id="signupLink" class="greyButton"><%=t :signup %></a>
    <% end %>
    </section>
  </nav>
</header>
<div id="flashMessage"></div>


<div id="main" role="main">
  <h1 id="heading">
    <span class="green">T</span>
    <span class="yellow">r</span>
    <span class="red">a</span>
    <span class="blue">n</span>
    <span class="orange">s</span>
    <span class="blue">i</span>
  </h1>
	<section id="search">
    <form action="words/search" method="get" onsubmit="return false;">
      <select name="sourceLang" id="sourceLanguage">
        <% @languages.each do |language| %>
          <option value="<%= language.id %>"><%= language.language %></option>
        <% end %>
      </select>
      &#8658;        
      
      <select name="targetLang" id="targetLanguage">
        <% @languages.each do |language| %>
          <option value="<%= language.id %>"><%= language.language %></option>
        <% end %>
      </select>
      <br />
      <input  name="word" id="word" type="search" placeholder="<%=t :search %>" autocomplete="off" />
    </form>
    <ul id="result" class="hidden">
      <% if !@words.nil? %>
        <% @words.each do |word| %>
          <li class="searchResult"><%= word.word %> - <%= word.example%> <%= link_to 'Show', word %></li>
        <% end %>
      <% end %>
    </ul>
	</section>
  <section id="translations">
    <ul id="translationList" class="hidden">
    </ul>
	</section>
</div>
<footer>
</footer>
