<div id="container">
    <header>
      <div id="user_nav">
        <% if current_user %>
            Logged in as <%= current_user.email %>.
            <%= link_to "log out", log_out_path %>
        <% else %>
            <%= link_to "Sign up", sign_up_path %> or
            <a href="#login">Log in</a>
        <% end %>
      </div>
    </header>
    <div id="main" role="main">
      <h1 id="heading">
        <span class="green">T</span>
        <span class="yellow">r</span>
        <span class="red">a</span>
        <span class="blue">n</span>
        <span class="orange">s</span>
        <span class="blue">i</span>
      </h1>
		<section id="searchResults">
          <form action="words/search" method="get" onsubmit="return false;">
            <label for="targetLang">Select Target Language</label>
            <select name="targetLang" id="targetLanguage">
                <% @languages.each do |language| %>
                  <option value="<%= language.id %>"><%= language.code.upcase %></option>
                <% end %>
            </select>
            <br />
            <input name="word" id="searchInput" type='search' placeholder='Search' autocomplete="off" />
          </form>
            <ul id="searchResultList">
              <% if !@words.nil? %>
                  <% @words.each do |word| %>
                        <li class="searchResult"><%= word.word %> - <%= word.example%> <%= link_to 'Show', word %></li>
                  <% end %>
              <% end %>
            </ul>
		</section>
        <section id="translations">
            <ul id="translationList">
                
            </ul>
            <!--
                <input id="newTranslationText" type="text" placeholder="Enter new translation" />
                <a href="#" id="addTranslation">Add</a>
                -->
		</section>
    </div>
    <footer>

    </footer>
  </div>
