<p id="notice"><%= notice %></p>

<p>
  <b>Word:</b>
  <%= @word.word %>
</p>

<p>
  <b>Example:</b>
  <%= @word.example %>
</p>


<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
